// @charset "utf-8";
// @import "../../node_modules/bulma/bulma.sass";

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// {
//     "palette": {
//         "accent1Color": "#00e5ff",
//         "accent2Color": "#00b8d4",
//         "accent3Color": "#b2ebf2",
//         "primary1Color": "#ab47bc",
//         "primary2Color": "#7b1fa2"
//     }
// }
$purple: #ab47bc;
$pink: #00b8d4;
$brown: #615a92;
$black: #303030;
$beige-light: rgb(205, 207, 209);
$beige-lighter: rgb(235, 236, 240);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
